---
import { Picture } from "astro:assets";
import background3 from "../assets/images/background3.webp";
import easel from "../assets/images/easel.webp";
import greenMascot from "../assets/images/green_mascot.webp";
import lightbulb from "../assets/images/lightbulb.webp";
import mascots from "../assets/images/mascots.png";
import people from "../assets/images/people.webp";
import { Button } from "../components/Button/Button";
import { ChangingText } from "../components/ChangingText";
import ScrollingText from "../components/ScrollingText.astro";
import SectionTitle from "../components/SectionTitle.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="atelier"
  description="Atelier Vancouver, started at UBC, is a unique creative space where curiosity meets action. Designed for those who want to explore personal projects beyond work or school, Atelier fosters a vibrant community of creators in Vancouver. We gather weekly to dive into passion projects, from software apps and blogs to art, music, game development, graphic design, and video production. More than a co-working space, Atelier is a launchpad for innovation, collaboration, and exploration. If you’re looking for an inspiring environment in Vancouver to create, experiment, and connect, Atelier is where ideas come to life."
>
  <main>
    <section class="section-1">
      <div class="content">
        <Picture src={mascots} alt="mascots" formats={["avif", "webp"]} />
        <h1>atelier</h1>
        <p class="subtitle">
          we gather weekly to <ChangingText
            texts={["CREATE", "BUILD", "DREAM", "PLAY"]}
            interval={2500}
            client:idle
          />
        </p>
        <div class="buttons">
          <Button
            text="JOIN US THIS SUNDAY"
            href="https://lu.ma/atelier.ubc"
            client:idle
          />
          <Button
            text="DONATE"
            href="https://opencollective.com/atelier"
            colorSchemeName="black"
            client:idle
          />
        </div>
        <p class="location">📍 Vancouver, BC</p>
      </div>
    </section>
    <section class="section-2">
      <Picture
        src={people}
        alt="people working together in a room"
        formats={["avif", "webp"]}
      />
    </section>
    <section class="section-3">
      <div class="content">
        <SectionTitle text="WHAT WE DO" />
        <h3>
          Atelier is an open co-working session for the curious in Vancouver.
        </h3>
        <div>
          <div>to be creative,</div>
          <div><b>you need dedicated time to create.</b></div>
          <div style="margin-top: 1rem">
            we explore our curiosity by{" "}
            <b>making</b> things:
          </div>
        </div>
        <Picture src={lightbulb} alt="lightbulb" formats={["avif", "webp"]} />
      </div>
      <div class="scrolling-text-container">
        <ScrollingText text="software, paintings, drawings, research, " />
      </div>
    </section>
    <section class="section-4">
      <div class="content">
        <SectionTitle text="HOW IT WORKS" />
        <div class="box">
          <div>
            <span style="color: #5721A0">50 minutes</span> of work* time.
          </div>
          <div>
            <span style="color: #2B6ECE">10 minute</span> break.
          </div>
          <div>
            Another <span style="color: #5721A0">50 minute</span> block.
          </div>
          <div>
            <div>
              <span style="color: #BC004C">Demos</span> after!
            </div>
            <div style="color: #005F04; font-size: 0.8em;">
              (+ free snacks, always)
            </div>
          </div>
        </div>
        <div class="footnote" style="color: #555555">
          <b>*NO</b> school or job work is allowed! There are other co-working spaces
          that exist for studying, working, etc. This space is not one of them. We
          do this to encourage our members to show up for themselves and pursue what
          they don’t make time for.
        </div>
      </div>
      <Picture src={greenMascot} alt="mascot" formats={["avif", "webp"]} />
    </section>
    <section class="section-5">
      <div class="text-button-container">
        <div class="content">
          <h2>Pushing off that side project?</h2>
          <div>It&apos;s time to start.</div>
        </div>
        <div class="buttons">
          <Button
            text="JOIN US THIS SUNDAY"
            href="https://lu.ma/atelier.ubc"
            client:idle
          />
          <Button
            text="GET UPDATES ON INSTAGRAM"
            href="https://www.instagram.com/atelier.ubc"
            colorSchemeName="black"
            client:idle
          />
        </div>
      </div>
      <Picture src={easel} alt="See u there!" formats={["avif", "webp"]} />
    </section>
    <div class="footer-image-container">
      <Picture
        class="footer-image"
        src={background3}
        alt="background"
        formats={["avif", "webp"]}
      />
    </div>
  </main>
</Layout>

<style lang="scss">
  @use "../colors.scss";
  @use "../constants.scss";

  body {
    background-image: url("../assets/images/paper.webp");
    background-position: center;
    background-size: cover;
  }

  .section-1 {
    min-height: 80vh;
    align-content: center;
    overflow-x: clip;
    color: colors.$off-black;

    .content {
      position: relative;
      display: grid;
      place-items: center;
      width: fit-content;
      margin: 0 auto;

      &::after {
        content: "";
        position: absolute;
        inset: -70%;

        background-image: url("../assets/images/background.webp");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        transform: translateX(-5%);

        z-index: -1;
      }

      img {
        width: 239px;
        height: auto;

        @media (min-width: constants.$breakpoint-md) {
          width: 462px;
          height: auto;
        }
      }

      h1 {
        margin-top: -1rem;
        font-size: 4.5rem;
        line-height: 1;
        font-weight: 600;
        letter-spacing: -0.04em;

        @media (min-width: constants.$breakpoint-md) {
          margin-top: -2rem;
          font-size: 8rem;
          line-height: 1;
        }
      }

      .subtitle {
        margin-top: 0.5rem;
        font-weight: 700;
        letter-spacing: -0.04em;
        text-align: center;

        @media (min-width: constants.$breakpoint-md) {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }

      .buttons {
        :global(a) {
          display: block;
          margin: 0 auto;
          margin-top: 1rem;
        }
      }

      .location {
        font-family: "IBM Plex Mono", sans-serif;
        margin-top: 1rem;
        font-weight: 300;
        text-transform: uppercase;
      }
    }
  }

  .section-2 {
    background-image: url("../assets/images/white_strip.webp");
    background-position: center;
    background-size: cover;

    img {
      max-width: 800px;
      width: 100%;
      height: auto;

      margin: 0 auto;
    }
  }

  .section-3 {
    position: relative;
    letter-spacing: -0.04em;
    margin-top: 2.5rem;

    .content {
      padding-left: 1rem;
      max-width: 900px;
      margin: 0 auto;

      & > h3 {
        margin-top: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;

        @media (min-width: constants.$breakpoint-md) {
          font-size: 3rem;
          line-height: 1;
        }
      }

      & > div {
        margin-top: 1rem;
        font-size: 1.125rem;

        @media (min-width: constants.$breakpoint-md) {
          font-size: 1.875rem;
        }

        b {
          font-weight: 600;
        }
      }

      img {
        position: absolute;
        top: -10%;
        right: 0;
        height: 100%;
        width: auto;
        z-index: -1;

        @media (max-width: 1420px) {
          opacity: 0.3;
        }
      }
    }

    & > .scrolling-text-container {
      margin-top: 1rem;

      font-size: 2.25rem;
      font-weight: 600;

      @media (min-width: constants.$breakpoint-md) {
        font-size: 4.5rem;
      }
    }
  }

  .section-4 {
    position: relative;
    letter-spacing: -0.04em;
    margin-top: 2.5rem;

    .content {
      padding: 0 1rem;
      max-width: 900px;
      margin: 0 auto;

      .box {
        margin-top: 1rem;
        border-width: 1px;
        border-color: #000;
        border-style: solid;
        padding: 1.5rem;

        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 700;

        @media (min-width: constants.$breakpoint-md) {
          border-width: 2px;
          padding: 2rem;

          font-size: 3rem;
          line-height: 1.3;
        }
      }

      .footnote {
        margin-top: 1rem;
        font-size: 0.875rem;
        line-height: 1.25rem;

        @media (min-width: constants.$breakpoint-md) {
          margin-left: 2rem;
          margin-right: 2rem;
          font-size: 1.125rem;
          line-height: 1.75rem;
        }
      }
    }

    img {
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: -1;

      @media (max-width: 1265px) {
        opacity: 0.1;
      }
    }
  }

  .section-5 {
    position: relative;
    letter-spacing: -0.04em;
    max-width: 900px;
    margin: 0 auto;
    margin-top: 2.5rem;
    padding: 3rem 1rem;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-top: 1px solid #000;

    text-align: center;

    @media (min-width: constants.$breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;

      text-align: start;
    }

    .content {
      & > h2 {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;

        @media (min-width: constants.$breakpoint-md) {
          font-size: 2.25rem;
          line-height: 2.5rem;
        }
      }

      & > div {
        font-family: handwriting, cursive;

        margin-top: 0.5rem;
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 700;
        text-transform: uppercase;

        @media (min-width: constants.$breakpoint-md) {
          margin-top: 1rem;
          font-size: 3rem;
          line-height: 1;
        }
      }
    }

    .buttons {
      margin-top: 1rem;

      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;

      @media (min-width: constants.$breakpoint-md) {
        justify-content: flex-start;
      }
    }

    img {
      width: 200px;
      height: auto;
    }
  }

  .footer-image-container {
    position: relative;
    height: 100px;

    img.footer-image {
      position: absolute;
      bottom: 0;
      z-index: -1;

      width: 100%;
      height: auto;
    }
  }
</style>
